S3method(print,needs)
export(jsonify)
export(needs)
export(pkgurls)
importFrom(jsonlite,toJSON)
importFrom(tools,getDepList)
importFrom(tools,package.dependencies)
importFrom(tools,package_dependencies)
importFrom(utils,installed.packages)
